@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background-image: url(./assets/Hero-bg.png);
  background-repeat: repeat;
  /* background-size: cover; */
}

.nav {
  color: white;
  background: rgba(255, 255, 255, 0.037);
  /*  */
  backdrop-filter: blur(40px);
}
.brand:hover {
  box-shadow: 0 0 20px rgb(151, 81, 157);
}

.logo:hover {
  box-shadow: 0 0 20px rgb(246, 2, 120);
  /* box-shadow: 0 0 20px rgba(0, 128, 255, 0.9); */
}
.footer {
  background-image: url(./assets/process-bg.png);
  background-color: rgba(6, 186, 252, 0.042);
  z-index: -1000;
}
.check-box {
  margin-right: 4px;
  background: transparent;
  display: flex;
  border: none;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: all 100ms ease-in;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.loading {
  animation-duration: 1000ms;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.check-box:focus #not-completed-icon circle {
  fill: #d9d9d9;
  stroke-dasharray: 0 0;
}
.check-box:hover #not-completed-icon circle {
  stroke-dasharray: 0 0;
  transition: all 100ms ease-in-out;
}
.react-datepicker__month-container {
  font-family: poppins;
  padding: 2px;
}

.datepicker-container {
  z-index: 5000; 
  position: absolute;
}